.comment {
  padding: 10px 15px;
  border: 1px solid #222;
  position: relative;
}

.comment a {
  color: inherit;
  text-decoration: none;
}

.heading {
  display: flex;
  align-items: start;
  gap: 10px;
}

.timestamp {
  color: #777;
}
