.comment {
  padding: 20px;
  border: 1px solid #222;
  position: relative;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  align-items: start;
  gap: 10px;
}
.commentOptions button {
  padding: 0;
  margin: 5px;
  height: 24px;
}

.commentOptions button,
.commentOptions button:hover,
.commentOptions button:active {
  background-color: black;
}

.interact button {
  background-color: inherit;
  color: #777;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1rem;
  padding: 0;
}

.interact button,
.interact button:hover,
.interact button:active {
  background-color: black;
}

.modalButtons {
  display: flex;
  gap: 30px;
  justify-content: center;
}
