.content {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: start;
  column-gap: 15px;
}

.focused {
  grid-template-areas: 'pfp heading' 'mainContent mainContent' 'interact interact';
  border: 1px solid var(--color-near-background);
  border-top: none;
  padding: 15px;
}

.ancestor {
  grid-template-areas: 'pfp heading' 'line mainContent' 'line interact';
  margin: 15px;
}

.reply {
  grid-template-areas: 'pfp heading' 'pfp mainContent' 'interact interact';
  border: 1px solid var(--color-near-background);
  padding: 15px;
}

.repostHeading {
  margin: 15px 15px 0 30px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.imageModal {
  padding: 0;
}

.pfp {
  grid-area: pfp;
}

.focused .line,
.reply .line {
  display: none;
}

.line {
  grid-area: line;
  border: 1px solid var(--color-far-background);
  margin-top: 15px;
  justify-self: center;
  width: 0;
  height: 100%;
}

.heading {
  grid-area: heading;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.namesAndTimestamp {
  display: flex;
  flex-wrap: wrap;
  column-gap: 15px;
}

.options button {
  padding: 0;
  margin: 5px;
  height: 24px;
}

.options button,
.options button:hover,
.options button:active {
  background-color: black;
}

.mainContent {
  grid-area: mainContent;
}

.replyLink {
  color: #6161ff
}

.text {
  white-space: pre-wrap;
}

.content textarea {
  border: 1px solid #222;
  width: 100%;
  overflow: hidden;
  margin: 15px 0;
}

.editButtons button {
  margin: 0 15px 15px 0;
}

.imageContainer {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.interact {
  grid-area: interact;
  display: flex;
  justify-content: space-around;
}

.interact button {
  background-color: inherit;
  color: gray;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1rem;
  padding: 0;
  height: 24px;
}

.interact button:hover {
  background-color: inherit;
}

.interact button:active {
  background-color: inherit;
}
