.postForm {
  padding: 20px 15px;
  display: grid;
  grid-template-columns: max-content 1fr 1fr;
  grid-template-areas:
    'pfp postText postText'
    '. imgPreview imgPreview'
    '. formButtons formButtons';
}

.currentUserPfp {
  grid-area: pfp;
  padding-right: 10px;
}

.postText {
  grid-area: postText;
}

.imgPreview {
  grid-area: imgPreview;
  position: relative;
  padding: 20px 0;
}

.cancelPreviewButton {
  position: absolute;
  padding: 0;
  height: 30px;
  width: 30px;
  background-color: #222;
  opacity: 0.8;
  top: 25px;
  right: 5px;
}

.formButtons {
  grid-area: formButtons;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.submitButton {
  width: max-content;
  background-color: #6161FF;
  color: white;
}
