.formSection {
  display: grid;
  grid-template-columns: max-content 1fr;
  padding: 15px;
  gap: 15px;
}

.gifModal {
  width: 412px;
}

@media (max-width: 600px) {
  .gifModal {
    padding: 0;
  }

  .formSection {
    grid-template-columns: 1fr;
  }
}
