.flexWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loginForms,
.flexForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 300px;
}

.loginForms form,
.loginForms form * {
  width: 100%;
}

.loginForms input {
  padding: 10px;
  font-size: 1rem;
  margin-top: 5px;
}

.loginForms button {
  font-size: 1rem;
}

.logoButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.logoButton {
  color: black;
  background-color: white;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: bold;
}

.logo {
  height: 24px;
}

.signUpLink {
  color: #6161ff;
  text-decoration: underline;
}

.error {
  background-color: #6161ff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  padding: 20px;
}
