.formSection {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 15px;
  padding: 15px;
  border: 1px solid var(--color-near-background);
}

.contentForm textarea {
  width: 100%;
}

.imgPreview {
  position: relative;
  margin: 20px 0;
  width: 100%;
  max-width: max-content;
}

.formButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.svgButtons {
  display: flex;
  gap: 20px;
}

.svgButton,
.svgButton:hover,
.svgButton:active {
  background-color: inherit;
  padding: 0;
  border-radius: 0;
  height: 24px;
}

.svgButton span {
  color: #6161ff;
}

.submitButton {
  width: max-content;
  background-color: #6161ff;
}

.submitButton:hover {
  background-color: #4141df;
}

.submitButton:active {
  background-color: #2121bf;
}

.emojiPicker {
  margin: 15px 0;
}

@media (max-width: 600px) {
  .emojiPicker {
    width: calc(100vw - 85px);
  }
}
