.post {
  padding: 15px;
  border: 1px solid var(--color-near-background);
  position: relative;
}

.imageModal {
  padding: 0;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.links {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  align-items: start;
  gap: 10px;
}

.postOptions button {
  background-color: inherit;
  padding: 0;
  margin: 5px;
  height: 24px;
}

.postOptions button,
.postOptions button:hover,
.postOptions button:active {
  background-color: var(--color-background);
}

.interact {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.interact button {
  background-color: inherit;
  color: gray;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1rem;
  padding: 0;
  height: 24px;
}

.interact button:hover {
  background-color: inherit;
}

.interact button:active {
  background-color: inherit;
}

.postText {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 10;
  line-clamp: 10;
  overflow: hidden;
  white-space: pre-wrap;
}

.editTextarea {
  border: 1px solid var(--color-near-background);
  width: 100%;
  overflow: hidden;
  margin: 10px 0;
}

.editButtons button {
  margin: 0 10px 10px 0;
}

.imageContainer {
  display: flex;
  justify-content: center;
  cursor: pointer;
}
