.newCommentForm {
  padding: 20px 15px;
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  grid-template-areas:
    'pfp commentText commentText'
    '. . submitButton';
}

.currentUserPfp {
  grid-area: pfp;
  padding-right: 10px;
}

.commentText {
  grid-area: commentText;
}

.submitButton {
  grid-area: submitButton;
  width: max-content;
  background-color: #6161ff;
  color: white;
}

.submitButton:hover {
  background-color: #4141df;
}

.submitButton:active {
  background-color: #2121bf;
}
