.post {
  padding: 15px;
  border: 1px solid #222;
  position: relative;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  align-items: start;
  gap: 10px;
}

.postOptions button {
  background-color: inherit;
  padding: 0;
  margin: 5px;
  height: 24px;
}

.postOptions button,
.postOptions button:hover,
.postOptions button:active {
  background-color: black;
}

.interact {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.interact button {
  background-color: inherit;
  color: #777;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1rem;
  padding: 0;
  height: 24px;
}

.interact button:hover {
  background-color: inherit;
}

.interact button:active {
  background-color: inherit;
}

dialog h2 {
  margin-top: 0;
}

.modalButtons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.postEditText {
  border: 1px solid #222;
  width: 100%;
  overflow: hidden;
  margin: 10px 0;
}

.editButtons button {
  margin: 0 10px 10px 0;
}
