.formSection {
  padding: 20px 15px;
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 15px;
}

.formSection textarea {
  width: 100%;
}

.formButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.svgButton,
.svgButton:hover,
.svgButton:active {
  background-color: inherit;
  padding: 0;
  border-radius: 0;
  height: 24px;
}

.svgButton span {
  color: #6161ff;
}

.submitButton {
  width: max-content;
  background-color: #6161ff;
  color: var(--color-background);
}

.submitButton:hover {
  background-color: #4141df;
}

.submitButton:active {
  background-color: #2121bf;
}

.emojiPicker {
  margin: 15px 0;
}

@media (max-width: 600px) {
  .formSection {
    grid-template-columns: 1fr;
  }

  .emojiPicker {
    width: calc(100vw - 30px);
  }
}
