.heading {
  padding-left: 20px;
}

.heading * {
  margin: 5px;
}

.heading p {
  color: #777;
  font-size: 0.8rem;
}

.heading h2,
.userInfo h2 {
  text-align: start;
}

.pfpAndButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}

.profilePagePfp {
  height: 130px;
  width: 130px;
  border-radius: 65px;
  object-fit: cover;
}

.topButtons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.userInfo {
  padding: 10px 15px;
}

.userInfo h2 {
  margin: 5px 0;
}

.followStats {
  display: flex;
  gap: 20px;
  color: #777;
  width: max-content;
}

.followStats strong {
  color: white;
}

.postHeading {
  padding-left: 20px;
}
