.heading {
  padding-left: 20px;
}

.heading * {
  margin: 5px;
}

.heading p {
  color: #777;
  font-size: 0.8rem;
}

.heading h2,
.userInfo h2 {
  text-align: start;
}

.headerImage {
  display: block;
  border-radius: 0;
  width: 100%;
  aspect-ratio: 3/1;
  object-fit: cover;
}

.pfpAndButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}

.profilePagePfp {
  height: 80px;
  width: 80px;
  border-radius: 40px;
  object-fit: cover;
}

.topButtons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.userInfo {
  padding: 10px 15px;
}

.userInfo h2 {
  margin: 5px 0;
}

.followStats {
  display: flex;
  gap: 20px;
  color: #777;
  width: max-content;
}

.followStats strong {
  color: white;
}

.closeModalButton {
  position: absolute;
  padding: 0;
  border-radius: 16px;
  border: 0;
  top: 5px;
  right: 5px;
  height: 24px;
}
