.sidebar {
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.sidebarButtons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebarButton {
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
  border-radius: 20px;
  width: max-content;
  gap: 20px;
  padding: 5px 10px;
  font-size: 1.2rem;
  font-weight: bold;
}

.sidebarButton:hover {
  background-color: #222;
}

.sidebarButton:active {
  background-color: #444;
}

.sidebar .menuSvg {
  font-size: 30px;
  font-variation-settings: 'OPSZ' 30;
  color: white;
}

.user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.names {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.username {
  color: #777;
}

@media (max-width: 850px) {
  .sidebarLabel,
  .names {
    display: none;
  }
}

@media (max-width: 600px) {
  .sidebar {
    order: 2;
    border: 1px solid #222;
    height: 60px;
    width: min(100vw, 600px);
  }

  .sidebarButtons {
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
  }

  .user {
    display: none;
  }
}
