.sidebarContainer {
  width: 250px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  height: 100vh;
  width: 250px;
  position: fixed;
}

.sidebarButtons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebarButton {
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
  border-radius: 20px;
  width: max-content;
  gap: 20px;
  padding: 5px 10px;
  font-size: 1.2rem;
  font-weight: bold;
}

.sidebarButton:hover {
  background-color: #222;
}

.sidebarButton:active {
  background-color: #444;
}

.sidebar .menuSvg {
  font-size: 30px;
  font-variation-settings: 'OPSZ' 30;
  color: white;
}

.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.names {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.username {
  color: #777;
}
