.passwordFields {
  display: grid;
  gap: 15px;
  margin-bottom: 20px;
  grid-template-columns: max-content 1fr;
  text-align: end;
}

.submitPassword {
  display: block;
  margin: auto;
}

.error {
  background-color: #6161ff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  padding: 20px;
}

@media (max-width: 600px) {
  .passwordFields {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
