.passwordFields {
  display: grid;
  gap: 10px;
  margin-bottom: 20px;
  grid-template-columns: max-content 1fr;
  text-align: end;
}

.submitPassword {
  display: block;
  margin: auto;
}

@media (max-width: 600px) {
  .passwordFields {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
