.userList {
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
}

.searchForm {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 5px;
  padding: 0 20px;
  border: 1px solid var(--color-near-background);
  border-radius: 20px;
}

.searchForm input {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-size: 1rem;
  padding: 10px;
  width: 100%;
  border: none;
  outline: none;
}

@media (max-width: 1200px) {
  .userList {
    display: none;
  }
}
